.skills-container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.skills-item{
    border-style: solid;
    margin: 5px;
    padding: 6px;
    border-radius: 18px;
    border-width: 0.6px;
}