.name{
  margin-top: 10px;
}

.header-container{
    padding: 10px;
}
  
.job-position{
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.contact-info{
  margin: 6px;
  /* margin-left: 6px;
  margin-right: 6px; */
}

.contact-info a{
  color: #000;
  text-decoration: none;
}

.contact-container :nth-child(4){
  display: none;
}